label{
    display: inline-block;
    margin: 10px 0;
}
input{
    border: 1px solid #dedede;
    border-radius: 2px;
    display: block;
    font-size:  16px;
    padding: 10px;
    width: 100%;

}
input:focus{
    outline: none;
}
.btn{
    background: blue;
    color: #dedede;
    cursor: pointer;
    border: none;
    border-radius: 2px;
    display: block;
    margin: 10px 0;
    padding: 10px;
    font-size: 16px;
    width: 100%;
}
