label{
    display: inline-block;
    margin: 10px 0;
}
input{
    border: 1px solid #dedede;
    border-radius: 2px;
    display: block;
    font-size:  16px;
    padding: 10px;
    width: 100%;

}
input:focus{
    outline: none;
}
.btn{
    background: rgb(77, 77, 88);
    color: #dedede;
    cursor: pointer;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 5px;
    display: block;
    margin: 10px 0;
    padding: 10px;
    font-size: 16px;
    width: 100%;
   
}
