@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@500&family=Noto+Serif+Thai:wght@200&display=swap');
*{
  box-sizing: border-box;
  font-family: 'Kanit', sans-serif;;
}
body{
  background: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0px;
  overflow: hidden;
}


.container{
  margin: 30px auto;
  width:1000px;
  background: rgb(175, 174, 174);
  padding: 25px;
  border-radius: 10px;
}

